<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/context   
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
                         
	<context:component-scan base-package="br.edu.BigSeaT44Imp.big.divers" annotation-config="true" />
	
	<context:annotation-config />
	
	<context:spring-configured />
	
	<!-- Necessary to get the entity manager injected into the factory bean -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />   
	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	
	<tx:jta-transaction-manager />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- Descomente a declaracao do bean abaixo se vc estiver usando o tomcat  -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:/comp/env/jdbc/BigSeaT4-4Imp"/>
    </bean>

	<!-- Descomente a declaracao do bean abaixo se vc estiver usando o wildfly  -->
<!-- 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!--         <property name="jndiName" value="java:/BigSeaT4-4Imp"/> -->
<!--     </bean> -->
    
<!--     <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> -->
<!-- 		<property name="database" value="DERBY" /> -->
<!-- 		<property name="databasePlatform" value="org.hibernate.dialect.DerbyTenSevenDialect" /> -->
<!-- 	</bean> -->
	
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
    
<!--     <bean id="entityManagerFactory" -->
<!-- 		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> -->
		
<!-- 		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" /> -->
<!-- 		<property name="persistenceUnitName" value="persistence" /> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" /> -->
<!-- 		<property name="jpaDialect" ref="jpaDialect" /> -->
<!-- 	</bean> -->
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="persistence" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.DerbyDialect" />
			</bean>
		</property>
	</bean>
</beans>
